/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15; /* 1. Correct the line height in all browsers. */
	tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}


/*
Text-level semantics
====================
*/

/**
Add the correct font weight in Chrome and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	border-color: currentcolor;
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}/* 1 */


/** ................................... */
/*! CSS Reset --> README.md */
:root {
    text-rendering: optimizeLegibility;
    /* 1.1 */
    color-scheme: light dark;
    /* 1.2 */
}

/* 2 */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* 3.1 */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
/* 3.2 */
    hanging-punctuation:first last;
}

/* 4 */
@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth
    }
}

/* 5 */
body {
    min-height: 100svh;
    min-height: 100vh;
    min-width: 320px;
    margin: 0;
    line-height: 1.5;
/* 6 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 7 */
p {
    line-height: calc(1ex / 0.32);
    margin: calc(1ex / 0.32);
}

h1 {
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42);
}

h2 {
    line-height: calc(1ex / 0.42);
    margin: calc(1ex / 0.42);
}

h3 {
    line-height: calc(1ex / 0.38);
    margin: calc(1ex / 0.38);
}

h4 {
    line-height: calc(1ex / 0.37);
    margin: calc(1ex / 0.37);
}

/* 8 */
:is(p, h1, h2, h3, h4, h5, h6) {
    overflow-wrap: break-word;
    hyphens: auto;
}

/* 9 */
:is(h1, h2, h3, h4, h5, h6) {
    text-wrap: balance;
}

p, li, figcaption {
/* 9 */
    text-wrap: pretty;
/* 10 */
    max-width: 65ch;    
}

/* 11 */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 12 */
input,
button,
textarea,
select {
    font: inherit;
}

/* 13*/
textarea:not([rows]) {
    min-height: 10em;
}

/* 14 */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* 15 */
:target {
    scroll-margin-block: 5ex;
}

/* 16 */
#root,
#__next {
    isolation: isolate;
}

/* 17 */
:where(h1, h2, h3, h4, p, figure, blockquote, dl, dd) {
    margin-block-end: 0;
}